.results-div {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 2%;
}

.your-type-div {
    margin-bottom: 5%;
}

.go-back {
    width: 25%;
    padding: 12px 20px;
    margin: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}