form {
    padding-top: 15%;
}

input, .submit-btn {
    width: 40%;
    padding: 12px 20px;
    margin: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }